html, body, #background {
	height: 100%;
	/*font-family:'Proxima Nova Alt Light';*/
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Montserrat', sans-serif;
}

#background {
	background-image: url('../../images/back.png');
	background-repeat: no-repeat; 
	background-size: 100%;
}

.page-wrap:after {
	content: "";
	display: block;
}

.page-wrap {

	min-height: 100%;
	margin-bottom: -142px;
	
	* {
		color: white;
		text-align: center;
	}
	
	p {
		font-size: 22px;
		margin: 0;

		@media screen and (max-width: 600px) {
			font-size: 10px;
		}
	}

	h1 {
		font-weight: bold;

		@media screen and (max-width: 600px) {
			font-size: 12px;
		}
	}

	button {
		background-color: white;
		color: #57AB4A;
		text-transform: uppercase;
		font-size: 10px;
		padding: 1rem 2rem;

		@media screen and (min-width: 700px) {
			margin-top: 4rem;
		}

		@media screen and (min-width: 850px) {
			margin-top: 8rem;
		}

		@media screen and (min-width: 1024px) {
			margin-top: 10rem;
		}
	}

	button:hover {
		background-color: #d9e9d1;
	}

	@media screen and (min-width: 700px) {
		margin-top: 3rem;
	}

	@media screen and (min-width: 1024px) {
		margin-top: 10rem;
	}
}

.site-footer, .page-wrap:after {
	height: 142px; 
}

.site-footer {
	background: orange;
}